:root {
    --black-shade: #222;
    --grey-shade: #757575;
    --yellow: #F8BE12;
    --white: #fff;
    --white-shade: #eee;
    --bg-color: #323232;
    --font-color: var(--white);
}

html, body {
    background-color: var(--black-shade) !important;
    color: var(--font-color) !important;
}

body {
    padding-bottom: 30px;
    position: relative;
    min-height: 100%;
  }
  
  button, a {
      box-shadow: none !important;
  }
  a {
    transition: background 0.2s, color 0.2s;
  }
  a:hover,
  a:focus {
    text-decoration: none;
  }
  
  #wrapper {
    padding-left: 0;
    transition: all 0.5s ease;
    position: relative;
  }
  
  #sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    overflow-x: hidden;
    background: var(--black-shade);
    transition: all 0.5s ease;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  
  .sidebar-brand {
    position: absolute;
    top: 0;
    width: 250px;
    text-align: center;
    padding: 20px 0;
  }
  .sidebar-brand h2 {
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    color: var(--white);
  }
  
  .sidebar-nav {
    margin: 0px;
    margin-bottom: 5px;
    padding: 0;
    list-style: none;
    border-bottom-left-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
    overflow: hidden;
    background-color: var(--yellow);
  }
  #sidebarNav {
    position: absolute;
    top: 75px;
    width: 242px;
    margin: 0;
    padding: 0;
  }
  #sidebarNav * {
    transition: all .3s ease-in-out;
  }
  .sidebar-nav > li, #sidebarNav h2 {
    text-indent: 10px;
    line-height: 42px;
  }
  #sidebarNav h2 > button {
    color: var(--white) !important;
    padding: 8px 10px 8px 20px;
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
  }

  .sidebar-nav > li a, #sidebarNav h2 > button {
    display: block;
    text-decoration: none;
    color: var(--white);
    font-weight: 600;
    font-size: 18px;
  }
  #sidebarNav h2 > button.collapsed {
    background-color: transparent !important;
    border-radius: 8px !important;
  }
  .sidebar-nav > li > a:hover, 
  .sidebar-nav > li.active > a {
    text-decoration: none;
    background: var(--black-shade) !important;
    margin: 0px 5px 5px 5px;
    border-radius: 8px;
    transition: all .3s ease-in-out;
  }
  #sidebarNav h2 > button:hover, #sidebarNav h2 > button {
    background: var(--yellow) !important;
  }
  .sidebar-nav > li > a i.fa, #sidebarNav h2 > button i {
    font-size: 24px;
    width: 60px;
  }
  
  #navbar-wrapper {
      width: 100%;
      position: absolute;
      z-index: 2;
  }
  #wrapper.toggled #navbar-wrapper {
      position: absolute;
      margin-right: -250px;
  }
  #navbar-wrapper .navbar {
    border-width: 0 0 0 0;
    background-color: var(--black-shade);
    font-size: 24px;
    margin-bottom: 0;
    border-radius: 0;
  }
  #navbar-wrapper .navbar a {
    color: var(--grey-shade);
  }
  #navbar-wrapper .navbar a:hover {
    color: var(--yellow);
  }
  
  #content-wrapper {
    width: 100%;
    position: absolute;
    padding: 20px;
    top: 52px !important;
  }
  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -250px;
  }

  section.content {
	  background-color: var(--bg-color);
	  padding: 10px;
	  border-radius: 12px;
	  margin-bottom: 16px;
  }
  code {
	  padding: 10px;
	  background-color: var(--black-shade) !important;
	  color: var(--white) !important;
	  border-radius: 8px;
	  margin-bottom: 16px !important;
	  padding-right: 50px;
    position: relative !important;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  code > button {
      width: 30px !important;
      height: 30px !important;
      padding: 4px !important;
      position: absolute;
      top: 6px;
      right: 6px;
      color: var(--white) !important;
  }

  section.content ul > li {
	  margin-bottom: 12px !important;
  }

  .scroll-content::-webkit-scrollbar-track {
    background: var(--bg-color) !important;
  }
  .scroll-content::-webkit-scrollbar-thumb {
    background: var(--black-shade) !important;
    cursor: pointer;
    border-radius: .15625rem;
  }
  .scroll-content::-webkit-scrollbar {
    width: 4px!important;
    height: 4px!important;
  }
  
  @media (min-width: 992px) {
    #wrapper {
      padding-left: 250px;
    }
    
    #wrapper.toggled {
      padding-left: 60px;
    }
  
    #sidebar-wrapper {
      width: 250px;
    }
    
    #wrapper.toggled #sidebar-wrapper {
      width: 60px;
    }
    
    #wrapper.toggled #navbar-wrapper {
      position: absolute;
      margin-right: -190px;
  }
    
    #wrapper.toggled #content-wrapper {
      position: absolute;
      margin-right: -190px;
    }
  
    #navbar-wrapper {
      position: relative;
    }
  
    #wrapper.toggled {
      padding-left: 60px;
    }
  
    #content-wrapper {
      position: relative;
      top: 0;
    }
  
    #wrapper.toggled #navbar-wrapper,
    #wrapper.toggled #content-wrapper {
      position: relative;
      margin-right: 60px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    #wrapper {
      padding-left: 60px;
    }
  
    #sidebar-wrapper {
      width: 60px;
    }
    
  #wrapper.toggled #navbar-wrapper {
      position: absolute;
      margin-right: -250px;
  }
    
    #wrapper.toggled #content-wrapper {
      position: absolute;
      margin-right: -250px;
    }
  
    #navbar-wrapper {
      position: relative;
    }
  
    #wrapper.toggled {
      padding-left: 250px;
    }
  
    #content-wrapper {
      position: relative;
      top: 0;
    }
  
    #wrapper.toggled #navbar-wrapper,
    #wrapper.toggled #content-wrapper {
      position: relative;
      margin-right: 250px;
    }
  }
  
  @media (max-width: 767px) {
    #wrapper {
      padding-left: 0;
    }
  
    #sidebar-wrapper {
      width: 0;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      width: 250px;
    }
    #wrapper.toggled #navbar-wrapper {
      position: absolute;
      margin-right: -250px;
    }
  
    #wrapper.toggled #content-wrapper {
      position: absolute;
      margin-right: -250px;
    }
  
    #navbar-wrapper {
      position: relative;
    }
  
    #wrapper.toggled {
      padding-left: 250px;
    }
  
    #content-wrapper {
      position: relative;
      top: 0;
    }
  
    #wrapper.toggled #navbar-wrapper,
    #wrapper.toggled #content-wrapper {
      position: relative;
      margin-right: 250px;
    }
  }
